/* Write your global styles here, in PostCSS syntax */
html {
    --bg-1: hsl(90, 10%, 15%);
    --bg-2: hsl(90, 10%, 5%);
    --fg-1: hsl(0, 0%, 60%);
}

body {
    background: var(--bg-1);
    color: var(--fg-1);
    margin: 0;
    padding: 0;
}